<?xml version="1.0" encoding="utf-8"?>
<manifest  xmlns:android="http://schemas.android.com/apk/res/android"
 android:versionCode="2601" android:versionName="1.3" package="com.ngocgiap.lgtheme.pixel" platformBuildVersionCode="24" platformBuildVersionName="7.0">
	<uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28">
	</uses-sdk>
	<application android:label="@7F050000" android:icon="@7F030000" android:hasCode="false" android:allowBackup="true">
		<meta-data android:name="com.lge.theme.name" android:value="com.ngocgiap.lgtheme.pixel">
		</meta-data>
		<meta-data android:name="com.lge.theme.profile_version" android:value="6">
		</meta-data>
		<meta-data android:name="com.lge.theme.display_priority" android:value="@7F040000">
		</meta-data>
		<activity android:name="com.ngocgiap.lgtheme.pixel.MainActivity" android:excludeFromRecents="true" android:launchMode="3">
			<intent-filter>
				<action android:name="android.intent.action.MAIN">
				</action>
				<action android:name="com.lge.theme.THEME">
				</action>
				<category android:name="android.intent.category.DEFAULT">
				</category>
			</intent-filter>
		</activity>
	</application>
</manifest>
